.two_title {
  background: #fff;
  padding-top: 20px;
}
.two_title .title_content {
  padding: 0 40px;
}
.two_title .title_content > div {
  line-height: 60px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #000000;
  border-bottom: 1px solid #ccc;
}
.two_content {
  padding: 0 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}
.two_content .c_title {
  line-height: 40px;
  font-size: 14px;
}
.two_content .c_title span {
  font-family: MicrosoftYaHeiUI;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #999999;
}
.two_content .content_right {
  width: 100%;
  box-sizing: content-box;
  padding-left: 15px;
}
.two_content .content_right .content_nei {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.two_content .content_right .content_nei .nei_left {
  height: 480px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px rgba(2, 31, 57, 0.2);
  width: 35%;
  margin-right: 5px;
  box-sizing: content-box;
  overflow: auto;
  padding-left: 10px;
}
.two_content .content_right .content_nei .nei_right {
  height: 480px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px rgba(2, 31, 57, 0.2);
  width: 65%;
  margin-left: 5px;
  box-sizing: content-box;
}
.two_content .content_right .content_nei .nei_right .ivu-table {
  font-size: 14px;
  text-align: center;
}
.two_content .content_right .content_nei .nei_right .right_add {
  padding: 20px 20px;
}
.two_content .content_right .content_nei .nei_right .right_add .add_block {
  cursor: pointer;
  background-color: #f5f6fa;
  border-radius: 2px;
  border: dashed  1px #dcdcdc;
  text-align: center;
  height: 38px;
  overflow: hidden;
}
.two_content .content_right .content_nei .nei_right .right_add .add_block > span {
  display: inline-block;
  color: #01b0c7;
  font-size: 14px;
}
.two_content .one_info {
  background: #fff;
}
.two_content .one_info input {
  width: 100%;
}
.two_content .one_info textarea {
  width: 100%;
  height: 100px;
}
.two_content .one_info .info_h {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 0px;
  color: #000000;
}
.two_content .one_info .info_z {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: solid 1px rgba(2, 31, 57, 0.2);
  display: block;
  padding-left: 20px;
  font-size: 14px;
  color: #333333;
}
.two_content .one_info .one_tu {
  position: relative;
}
.two_content .one_info .one_tu img {
  position: absolute;
  width: 23px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.two_tan {
  color: blue!important;
}
.one_next,
.one_prv {
  width: 177px;
  height: 60px;
  background-color: #22a1b9;
  box-shadow: 0px 3px 7px 0px rgba(2, 31, 57, 0.35);
  border-radius: 3px;
  border: solid 1px #0c8399;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 60px;
  color: #ffffff;
  position: absolute;
  bottom: -80px;
  right: 0;
  cursor: pointer;
}
.one_next span:nth-of-type(1),
.one_prv span:nth-of-type(1) {
  letter-spacing: 5px;
  margin-left: 20px;
}
.one_next .one_right,
.one_prv .one_right {
  margin-left: 50px;
}
.one_prv {
  left: 0;
  background-color: #fff;
  color: #0c8399;
}
